body {
    background-color: #4a8864;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 150px;
}

.cabecalho {
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.cabecalho .container {
    display: flex;
    align-items: center;
}

.cabecalho figure img {
    width: 100%;
    max-width: 140px;
}

.cabecalho .cabecalho_logoPicpro {
    border-right: 1px solid white;
    margin-right: 15px;
}

.secaoDetalhesConta {
    color: white;
    padding: 60px 0px 30px;
}

.secaoDetalhesConta .secaoDetalhesConta_sobreUsuario {
    display: flex;
    align-items: center;
    align-items: flex-end;
    margin-bottom: 20px;
}

.secaoDetalhesConta_sobreUsuario p {
    font-size: 18px;
    margin-left: 10px;
}

.secaoDetalhesConta_sobreUsuario img {
    width: 100px;
    max-width: 50px;
}

.secaoDetalhesConta_sobreUsuario p strong {
    display: block;
    font-weight: bold;
}

.secaoDetalhesConta .secaoDetalhesConta_sobreSaldo {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.secaoDetalhesConta_sobreSaldo p strong {
    display: block;
    font-weight: bold;
}

.secaoDetalhesConta_sobreSaldo button {
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 60px;
    border-radius: 10px;
    cursor: pointer;
}

.secaoDetalhesConta .secaoDetalhesConta_opcoesTransacoes {
    display: flex;
    justify-content: space-between;
}

.secaoDetalhesConta_opcoesTransacoes .secaoDetalhesConta_ItemTransacao {
    background-color: #1f6f54;
    width: 170px;
    height: 177px;
    border-radius: 10px;
    padding: 40px 20px; 
}

.secaoDetalhesConta_ItemTransacao img {
    width: 100%;
    max-width: 50px;
}

.secaoDetalhesConta_ItemTransacao p {
    line-height: 25px;
    font-weight: bold;
    font-size: 18px;
    width: 70px;
}

.secaoTransacao {
    background-color: white;
    border-radius: 20px 20px 0 0;
    border-bottom: 15px solid #F4F4F4;
    padding: 30px 0;
}

.secaoTransacao_avisoselecao p {
    font-size: 25px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 30px 60px;
}

.secaoTransacao_avisoselecao img {
    margin: 30px 0 90px;
    width: 100%;
}

.secaoTransacao_qrcode {
    text-align: center;
}

.secaoTransacao_qrcode img {
    max-width: 180px;
}

.secaoTransacao_qrcode p {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
}

.secaoTransacao_qrcode button {
    background-color: #4a8864;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    margin: 50px 0 20px;
    padding: 15px 150px;
    cursor: pointer;
}

.secaoTransacao_qrcode a {
    display: block;
    color: black;
    font-style: normal;
    font-weight: bold;
}

.secaoTransacao_pix img{
    width: 100%;
    max-width: 200px;
}

.secaoTransacao_boxOpcao {
    display: flex;
    align-items: center;
    border: 1px solid #D2D2D2;
    max-width: 500px;
    padding: 14px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    margin: 20px 0;
}

.secaoTransacao_boxOpcao img {
    width: 100%;
    max-width: 80px;
    margin-right: 10px;
}

.secaoTransacao_boxOpcao p {
    font-size: 16px;
    line-height: 20px;
}

.secaoTransacao_boleto img {
    width: 100%;
    max-width: 80px;
}

.secaoTransacao_boleto h2 {
    font-size: 20px;
    font-weight: bold;
}

.secaoTransacao_boleto p {
    font-size: 16px;
    max-width: 500px;
    margin: 20px 0;
}

.secaoTransacao_boleto input {
    width: 100%;
    background-color: #F4F4F4;
    color: black;
    font-size: 16px;
    height: 50px;
    padding: 0 80px;
    border-radius: 5px;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
}

.secaoTransacao_cobrar img {
    width: 100%;
    max-width: 80px;
}

.secaoTransacao_cobrar h2 {
    font-size: 20px;
    font-weight: bold;
}

.secaoTransacao_boxOpcao p strong {
    display: block;
}

.secaoTransacao_cobrar p {
    font-size: 16px;
    max-width: 500px;
    margin: 20px 0;
}

.secaoTransacao_boxOpcao {
    margin-left: 10px;
}

.rodape {
    background-color: white;
}

.rodape .rodape_menuPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-style: normal;
}

.rodape_menuItem a {
    color: gray;
    text-decoration: none;
}

.rodape_menuItem img {
    width: 100%;
    max-width: 40px;
}

.rodape_menuItem p {
    margin-top: 10px;
}

.rodape_menuItem_pagar {
    transform: translateY(-35px);
}

.rodape_menuItem_pagar img {
    max-width: 80px;
}